@use '../../styles/mixins' as *;

body:has(.join-confirm) {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.join-confirm {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--bg-widget-color);
	border-radius: 2rem;
	box-shadow: 0 0.5rem 1rem color-mix(in oklab, var(--off-bg-color), black 10%);

	max-width: 24rem;
	padding: 2rem;
	text-align: center;
	animation: fade-in 0.5s ease;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--off-fg-color);
	margin-bottom: -0.5rem;
}

.message {
	color: var(--fg-color-active);
	font-size: 0.9rem;
	line-height: 1.6;
}

.owner-info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: var(--bg-color-active);
	border-radius: 0.5rem;
}

.owner-avatar {
	@include no-select-drag;

	aspect-ratio: 1;
	width: 2.5rem;
	border-radius: 50%;
	border: 1px solid var(--splitting-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--off-fg-color);
	font-weight: bold;
	font-size: 1.25rem;
	margin-right: 0.5rem;
}

.owner-name {
	color: var(--fg-color-hover);
	font-weight: 600;
	text-align: left;
}

.options {
	display: flex;
	gap: 1rem;
	justify-content: center;

	@include screen-xs {
		flex-direction: column;
		align-items: center;
	}
}

.btn {
	transition: background-color 0.3s ease;
	height: 4rem;
	width: 100%;
	border-radius: 2rem;
	font-weight: 600;
}

.btn-join {
	background-color: var(--primary-color);

	@include desktop {
		&:hover {
			background-color: var(--primary-color-hover);
		}
	}
	&:active {
		background-color: var(--primary-color-active);
	}
}

.btn-cancel {
	border: 2px solid var(--off-fg-color);

	@include desktop {
		&:hover {
			background-color: var(--bg-color-active);
		}
	}
	&:active {
		background-color: color-mix(
			in oklab,
			var(--bg-color-active),
			var(--fg-color) 10%
		);
	}
}
