@use '../../../../styles/mixins' as *;

.panel-tabs {
	position: relative;
	display: flex;
	margin-bottom: 1rem;
	border-radius: 1rem;
	overflow: hidden;
	border: 1px solid var(--bg-widget-color);
	min-height: fit-content;

	> label {
		transition: background-color 0.15s ease-in;
		flex: 1;
		padding-block: 1vh;
		cursor: pointer;

		&:nth-child(2):has(input:checked) ~ span {
			left: 33.3%;
		}
		&:nth-child(3):has(input:checked) ~ span {
			left: 66.6%;
		}

		> input {
			appearance: none;
		}
		> span {
			display: inline-block;
			width: 100%;
			text-align: center;
			min-height: 1rem;
		}

		&:hover {
			background-color: rgb(from var(--bg-color-hover) r g b / 0.5);
		}
	}
	> span {
		transition: left 0.15s ease;
		position: absolute;
		inset: 0;
		width: 33.3%;
		background-color: var(--bg-widget-color);
		pointer-events: none;
		z-index: -1;
	}
	&:has(input:focus-visible) {
		border-color: var(--primary-color);
	}
}
