.panel-footer {
	margin-top: auto;
	padding-top: 1rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0.5rem;

	text-align: center;

	> button {
		--button-bg-color: var(--bg-color-hover);
		padding-block: 0.5vh;
		border-radius: 10rem;

		border: 2px solid var(--button-bg-color);
		&:hover {
			background-color: rgb(from var(--button-bg-color) r g b / 0.5);
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:last-child {
			--button-bg-color: var(--red-500);
			grid-column: span 2;
		}
	}
}
