@use '../../../../styles/mixins' as *;

.pricing-toggle {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: var(--bg-widget-color);
	padding: 0.5rem 2rem;
	border-radius: 2rem;

	@include screen-sm-less {
		padding: 0.25rem 0.5rem;
		gap: 0.5rem;
	}
}

.discount {
	background-color: var(--primary-color);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;

	@include screen-sm-less {
		display: none;
	}
}
