@use '../../styles/mixins' as *;

body:has(.auth) {
	overflow: clip;
}

.auth {
	display: flex;
	height: 100vh;

	> section {
		transition: transform 0.5s ease-out;
		width: 24rem;
		height: inherit;
		margin-inline: auto;
		> form {
			height: inherit;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: center;
			gap: 1rem;
			font-size: clamp(1rem, 6vw, 1.5rem);
			padding-inline: 1rem;

			> h1 {
				font-size: 1.4em;
			}
		}
	}

	> img {
		object-fit: cover;
		width: max(20rem, 40vw);

		@include screen-md-less {
			display: none;
		}
	}

	p {
		color: var(--grey-600);
		text-align: center;
		font-size: 0.9em;

		> a,
		> button {
			color: var(--primary-color);

			&:hover {
				text-decoration: underline;
			}
		}

		&:first-of-type {
			margin-bottom: 1rem;
		}
		&:last-of-type {
			margin-block: 1.5rem;
			font-size: 0.8em;
		}
	}
}

.logo {
	display: flex;
	height: 4rem;

	@include desktop {
		&:hover {
			opacity: 0.9;
		}
	}
	&:active {
		opacity: 0.8;
	}

	> svg {
		width: 6rem;
	}
}

.auth-form {
	--input-padding-left: 3rem;

	input,
	> button {
		width: 100%;
		border-radius: 1rem;
	}
	input {
		padding: 0.5rem 1rem 0.5rem var(--input-padding-left);
	}
	> button {
		padding: 0.5rem 2rem;

		&[type='submit'] > svg {
			animation: spin 1s linear infinite;
		}
	}

	> * {
		animation: slide-left 0.6s var(--comic-bezier) forwards;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes slide-left {
	from {
		transform: translateX(1rem);
		opacity: 0;
	}
}
