@use '../../../styles/mixins' as *;

.get-started {
	display: flex;
	justify-content: center;
	gap: 1rem;

	> button {
		padding: clamp(0.6rem, 2vw, 1rem);
		font-size: clamp(0.75rem, 2vw, 1rem);
	}
}
