@use 'sass:selector';
@use 'sass:list';

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin screen-xs() {
	@media (max-width: #{$screen-sm - 1px}) {
		@content;
	}
}

@mixin screen-sm() {
	@media (min-width: $screen-sm) and (max-width: #{$screen-md - 1px}) {
		@content;
	}
}

@mixin screen-sm-less() {
	@media (max-width: #{$screen-md - 1px}) {
		@content;
	}
}

@mixin screen-md() {
	@media (min-width: $screen-md) and (max-width: #{$screen-lg - 1px}) {
		@content;
	}
}

@mixin screen-md-less() {
	@media (max-width: #{$screen-lg - 1px}) {
		@content;
	}
}

@mixin screen-lg() {
	@media (min-width: $screen-lg) and (max-width: #{$screen-xl - 1px}) {
		@content;
	}
}

@mixin screen-lg-less() {
	@media (max-width: #{$screen-xl - 1px}) {
		@content;
	}
}

@mixin screen-xl() {
	@media (min-width: $screen-xl) {
		@content;
	}
}

@mixin desktop() {
	@media (pointer: fine) and (hover: hover) {
		@content;
	}
}

@mixin mobile() {
	@media (pointer: coarse) and (hover: none) {
		@content;
	}
}

@mixin unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin undraggable {
	-webkit-user-drag: none;
}

@mixin no-select-drag {
	@include unselectable;
	@include undraggable;
}

@mixin focus-visible-outline() {
	&:focus-visible {
		@content;
	}
	&:focus:not(:focus-visible) {
		outline: none;
	}
}

@mixin focus-ring-outline {
	@include focus-visible-outline {
		transition: outline 0s;
		outline: 2px solid var(--primary-color);
	}
}

@mixin centered-container {
	width: 100%;
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding-inline: 1rem;
}

@mixin light() {
	:root:not([data-theme='dark']) {
		@content;
	}

	@media (prefers-color-scheme: light) {
		:root[data-theme='system'] {
			@content;
		}
	}
}

@mixin dark() {
	:root[data-theme='dark'] {
		@content;
	}

	@media (prefers-color-scheme: dark) {
		:root[data-theme='system'] {
			@content;
		}
	}
}

@mixin dropdown-container {
	position: relative;
}

@mixin dropdown-button {
	&[aria-expanded='true'] {
		background-color: var(--bg-color-active);
		+ * {
			// visible state
			opacity: 1;
			transform: translateY(0.5rem);
			pointer-events: all;
		}
	}
}

@mixin dropdown-content($width: 400%, $offset-x: 0px) {
	position: absolute;
	left: calc(50% - #{$width} / 2 - #{$offset-x});
	transform-origin: calc(50% + #{$offset-x}) center;
	width: $width;

	// hidden state
	opacity: 0;
	transform: translateY(-50%) scale(0);
	pointer-events: none;

	transition: all 0.2s ease;
	background-color: var(--bg-widget-color);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 0.25rem;
	border: 1px solid var(--splitting-border-color);
	border-top: none;
	z-index: 999;

	&::before {
		content: '';
		position: absolute;
		top: -0.4rem;
		left: 50%;
		width: 1rem;
		height: 1rem;
		transform: translateX(calc(-50% + $offset-x)) rotate(45deg);
		background-color: var(--bg-widget-color);
		border-top-left-radius: 40%;
		z-index: -1;
	}
}
