*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	max-width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img,
svg,
video {
	max-width: 100%;
	height: auto;
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	// transition: all 0s 9999s !important;
	-webkit-box-shadow: 0 0 0 1000px var(--off-bg-color) inset !important;
	-webkit-text-fill-color: var(--off-fg-color) !important;
	caret-color: var(--off-fg-color) !important;
}
