@use '../../../../styles/mixins' as *;

.infinite-marquee-item {
	flex: 0 0 16rem;

	display: flex;
	gap: 1rem;
	align-items: center;
	max-height: 4rem;

	> img {
		max-height: inherit;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}
	> p {
		font-size: 2rem;
	}
}
