@use '../../../styles/mixins' as *;

.flow-panel,
.relation-adding-menu {
	outline: none;

	display: flex;
	flex-direction: column;

	transition: transform 0.2s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;

	max-width: 100vw;
	height: 100%;
	padding: 1rem;
	background-color: rgb(from var(--off-bg-color) r g b / 1);
	color: inherit;

	border-radius: 0 1rem 1rem 0;
	border: none;
	border-right: 1px solid var(--splitting-border-color);

	transform: translateX(-100%);
	z-index: 2;

	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}

	&[open] {
		transform: translateX(0);
	}
}

.close,
.open {
	display: flex;
	justify-content: center;
	width: 2rem;
	aspect-ratio: 1;
	border-radius: 0.5rem;
	&:hover {
		background-color: var(--bg-color-hover);
	}
	&:active {
		background-color: var(--bg-color-active);
	}
}

.open {
	background-color: var(--off-bg-color) !important;
	box-shadow: 0 0 0 3px var(--splitting-border-color);
	position: absolute !important;
	top: 1rem;
	left: 1rem;
	z-index: 0;
}

.relation-suggester {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	ins {
		user-select: text;
	}

	> label,
	button {
		transition: background-color 0.15s ease;
		padding: 0.5rem;
		border-radius: 0.75rem;
		border: 2px solid var(--bg-color-hover);
		&:hover {
			background-color: rgb(from var(--bg-color-hover) r g b / 0.5);
		}
	}

	> label {
		display: flex;
		align-items: center;
		gap: 1rem;
		cursor: pointer;

		&:has(input:focus-visible) {
			border-color: var(--primary-color);
		}

		> input[type='radio'] {
			position: relative;
			padding: 0.75rem;
			border-radius: 50%;
			background-color: var(--bg-color-hover);
			appearance: none;

			&:checked {
				animation: pulse 0.7s forwards;
				background-color: var(--primary-color);

				&::before {
					content: '';
					position: absolute;
					top: 45%;
					left: 50%;
					width: 0.4rem;
					height: 0.75rem;
					border: solid var(--fg-color);
					border-width: 0 3px 3px 0;
					transform: translate(-50%, -50%) rotateZ(45deg);
				}
			}
		}
	}
	> .suggester-buttons {
		display: flex;
		gap: 1rem;
		> button {
			width: 100%;
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}
	50% {
		box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
