.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.content {
	background: var(--bg-widget-color);
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	max-width: 20rem;
	width: 90%;
	text-align: center;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	> h3 {
		grid-area: 1 / 1 / 2 / 3;
	}

	> p {
		grid-area: 2 / 1 / 3 / 3;
	}

	> button,
	span {
		border-radius: 0.25rem;
	}

	> span {
		grid-area: 3 / 1 / 4 / 3;
		border: 1px solid var(--bg-color-active);
		padding: 0.5rem;
		word-break: break-all;
		user-select: all;
	}

	> button {
		padding: 0.5rem 1rem;
	}
}

.copy-button {
	grid-area: 4 / 1 / 5 / 2;
	background-color: var(--primary-color);
	&:hover {
		background-color: var(--primary-color-hover);
	}
}

.close-button {
	grid-area: 4 / 2 / 5 / 3;
	border: 2px solid var(--bg-color-active);
	&:hover {
		background-color: var(--bg-color-active);
	}
}
