.infinite-marquee {
	margin-top: 4rem;
	display: flex;
	overflow: hidden;
	width: 100%;
	max-width: 100vw;
}

.group {
	flex-shrink: 0;
	display: flex;
	animation: spin 20s linear infinite;
	will-change: transform;
}

@keyframes spin {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-33.33%);
	}
}
